@font-face {
	font-family: 'stolzl';
	font-display: swap;
	src:
		url('../fonts/stolzl_bold.woff2') format('woff2'),
		url('../fonts/stolzl_bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'stolzl';
	font-display: swap;
	src:
		url('../fonts/stolzl_light.woff2') format('woff2'),
		url('../fonts/stolzl_light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'stolzl';
	font-display: swap;
	src:
		url('../fonts/stolzl_book.woff2') format('woff2'),
		url('../fonts/stolzl_book.woff') format('woff');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'stolzl';
	font-display: swap;
	src:
		url('../fonts/stolzl_medium.woff2') format('woff2'),
		url('../fonts/stolzl_medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'stolzl';
	font-display: swap;
	src:
		url('../fonts/stolzl_regular.woff2') format('woff2'),
		url('../fonts/stolzl_regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'stolzl';
	font-display: swap;
	src:
		url('../fonts/stolzl_thin.woff2') format('woff2'),
		url('../fonts/stolzl_thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'icons';
	font-display: swap;
	src:
		url('../fonts/icons.woff2') format('woff2'),
		url('../fonts/icons.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
